---
title: Work
---
<h3>About</h3>
<p>NYC based creator and product manager of mobile and web apps.</p>
<h3>Portfolio</h3>
<ul class="work-list">
<% data.portfolio.portfolio.each do |project| %>
  <li><%= link_to project['title'], "/work/#{project['slug']}/index.html" %></li>
<% end %>
</ul>
<h3>Awards</h3>
<ul class="work-list">
  <li>Webby Award Honoree, Sendicate, 2013</li>
  <li>W3 Award for Best Web Application, Sendicate, 2013</li>
  <li>Webby Award Honoree, Focus Forward Films, 2013</li>
  <li>Webby Award nominee, Focus Forward Films, 2012</li>
  <li>Webby Award nominee, Yvan Rodic.com, 2012</li>
  <li>5 x Davey Award winner, 2011</li>
  <li>Awwwards winner, Yvan Rodic.com, 2011</li>
</ul>
<h3>Employment</h3>
<ul class="work-list">
  <li>Sellout - Acquired</li>
  <li>Sendicate - Acquired</li>
  <li>The 88 - 2010</li>
</ul>