---
title: Work
---
<h3>About</h3>
<p>Creator and product manager of mobile and web apps.</p>
<h3>Portfolio</h3>
<ul class="work-list">
<% data.portfolio.portfolio.each do |project| %>
  <li><%= link_to project['title'], "/work/#{project['slug']}/index.html" %></li>
<% end %>
</ul>
<h3>Recognition</h3>
<ul class="work-list">
  <li>Webby Award Honoree, Sendicate</li>
  <li>W3 Award for Best Web Application, Sendicate</li>
  <li>Webby Award Honoree, Focus Forward Films</li>
  <li>Webby Award nominee, Focus Forward Films</li>
  <li>Webby Award nominee, Yvan Rodic.com</li>
  <li>5 x Davey Award winner</li>
  <li>Awwwards winner, Yvan Rodic.com</li>
  <li>Certified Scrum Product Owner</li>
</ul>
<h3>Employment</h3>
<ul class="work-list">
  <li>Clovelly - 2019-</li>  
  <li>Status - 2017-2019</li>
  <li>Shopify - 2016-2017</li>
  <li>Squarespace - 2015-2016</li>
  <li>Sellout - 2012–14 (Acquired)</li>
  <li>Sendicate - 2012–14 (Acquired)</li>
</ul>
